.panel-unopened-packs {
  position: relative;
  display: block;
  margin: 0 auto; /* center the entire panel horizontally */
}

.panel-unopened-packs--clickable {
  cursor: pointer;
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.panel-unopened-packs__image {
  position: absolute;
  object-fit: cover;
  border-radius: 8px;
  top: 0;
  left: 0;
}
