/* Box with my: 4 → margin-top & margin-bottom 32px */
.select-set-counter-section {
  display: grid;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
}

/* textAlign="center", mt: 6 → 48px */
.select-set-button-row {
  text-align: center;
}
